.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .errorMessage{
    color: red;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background: #222;
    color: white;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    justify-content: space-between;
  }
  